.pwd-generate-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  &-params {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .modal-btns-container {
    width: 325px;
    display: flex;
    justify-content: space-between;
  }
}
